## Decision Trees

In [1]:
import pandas as pd

data = pd.read_csv("salaries.csv")
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
# Here i am droping the column
inputs = data.drop('salary_more_then_100k',axis='columns')

In [3]:
# setting output as target
target = data['salary_more_then_100k']

In [4]:
# To encode my labled data into number i am importing LabelEncoder
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [5]:
# Creating New columns for encoded data
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [6]:
# Checking the new columns
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [7]:
# Here i am droping the labled data columns becuase now we have encoded data in new columns
inputs_n = inputs.drop(['company','job','degree'],axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [8]:
# Checking the taget data
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

## Model Training Starts

In [9]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

model.fit(inputs_n, target)

DecisionTreeClassifier()

In [10]:
model.score(inputs_n,target)

1.0

In [11]:
# Here Company first(Company) 2 = Google, Second(Job) 1 = Computer Programmer, Third(Degree) 0 = bachelors
model.predict([[2,1,0]])

array([0], dtype=int64)

In [12]:
# Here Company first(Company) 2 = Google, Second(Job) 1 = Computer Programmer, Third(Degree) 1 = master
model.predict([[2,1,1]])

array([1], dtype=int64)